body {
  padding: 0;
  margin: 0;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #fafafa;
}

.App {
  text-align: center;
}



/* Utitlity Classes */
.util__center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.util__font {
  font-weight: 500;
}



/* Navbar Styles */
.nav__bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  height: 3rem;
}

.nav__item {
  text-decoration: none;
  font-weight: 600;
  color: #f06673;
}

.active {
  color: #e8415d;
  border-bottom: 2px solid #e8415d;
}



/* Misc Styles */
.heading {
  font-weight: 500;
}